* {
  box-sizing: border-box;
}

html{
padding: 1em;
scroll-behavior: smooth;
background-image: url(./assets/img/back.jpg);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Chivo Mono', sans-serif;
}
main{
line-height:25px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.nav-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  padding: 0 20px;
  line-height: 50px;
}
.link:hover{
color: #0b0b0b;
font-weight: bold;
}
a{
  text-decoration: none;
  color: dimgrey;
}

img.photo {
  float:right;
  border: 5px solid black;
  }

.contact-list{
display:grid;
padding-left: 0%;
white-space: pre-wrap;
line-height:30px;
list-style: none;
color:#0b0b0b;
}
img.logo {
width: 20px;
vertical-align: sub;
}
.link{
color:dimgrey;
}
.skill-list{
list-style: none;
line-height: 50px;
padding: 0%;
}

.code{
display:flexbox;
float:right;
}

.project{
display:flexbox;
float:left;
}
.photo-cv{
  border: 2px solid black;
  }
.project-title{
  display: flex;
  position:relative;
}
.project-title:hover::after{
content: attr(data-title);
position: absolute;
text-align: center;
left: 0; right: 0; bottom: 50px;
background: rgba(0,0,0,0.6);
color: whitesmoke;
z-index: 1;
}
.section-profile{
background-color: #0b0b0b;
color: lightgray;
justify-content: space-between;
width: 100%;
height: 100%;
text-align: center;
padding: 5%;
}
.example{
border-top: 5px solid black;
}
.footer-container{
  display:flex;
  justify-content: space-between;
margin-top: 10%;
}
.fa_custom {
  color:
  #0b0b0b
}